# Loading original data

Need to change to the new path before loading

In [ ]:
import pandas as pd
listing=pd.read_csv("/Users/tgcn/Downloads/listings (2).csv")

In [52]:
reviews=pd.read_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/los-angeles/reviews.csv")

In [23]:
calendar=pd.read_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/los-angeles/calendar.csv")

# Create listing table

In [65]:
listing.columns

Index(['id', 'revenue', 'name', 'neighbourhood_cleansed', 'latitude',
       'longitude', 'license', 'instant_bookable', 'host_id', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms',
       'beds', 'amenities', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'availability_30', 'availability_60',
       'availability_90', 'availability_365'],
      dtype='object')

In [54]:
# excluse comma)
listing["amenities"] = listing["amenities"].str.replace(",","",regex=True)
listing["name"] = listing["name"].str.replace(",","",regex=True)

In [55]:
# drop nas in review related colummns
listing[['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value']] = listing[['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value']].fillna(0)

In [56]:
# bathrooms columns are all na
listing = listing.drop(['bathrooms'], axis=1)

In [51]:
listing.number_of_reviews

0         2.0
1        37.0
2        23.0
3         0.0
4        23.0
         ...
42031     0.0
42032     0.0
42033     0.0
42034     0.0
42035     0.0
Name: number_of_reviews, Length: 42036, dtype: float64

In [48]:
listing.head()

,id,revenue,name,neighbourhood_cleansed,latitude,longitude,license,instant_bookable,host_id,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,availability_30,availability_60,availability_90,availability_365
0,109,38261.0,Amazing bright elegant condo park front *UPGRA...,Culver City,33.98301,-118.38607,NaN,f,521.0,Entire condo,...,5.00,5.00,3.00,4.00,5.00,4.00,0.0,0.0,0.0,43.0
1,2708,12555.0,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,Hollywood,34.09625,-118.34605,NaN,t,3008.0,Private room in rental unit,...,4.81,4.92,5.00,4.97,5.00,4.86,0.0,0.0,0.0,230.0
2,2732,6444.0,Zen Life at the Beach,Santa Monica,34.00440,-118.48095,228269,f,3041.0,Private room in rental unit,...,4.41,4.57,4.50,4.55,4.91,4.36,17.0,24.0,54.0,329.0
3,2864,27710.0,* Beautiful Master Suite/Jacuzzi Tub/*,Bellflower,33.87490,-118.11515,NaN,f,3207.0,Entire rental unit,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
4,3021,700.0,Hollywood Hills Zen Modern style Apt/Guesthouse,Hollywood Hills West,34.11160,-118.38223,NaN,f,3415.0,Entire guest suite,...,4.04,3.83,3.96,4.30,4.64,4.00,24.0,54.0,84.0,359.0

In [49]:
listing.columns

Index(['id', 'revenue', 'name', 'neighbourhood_cleansed', 'latitude',
       'longitude', 'license', 'instant_bookable', 'host_id', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'availability_30', 'availability_60',
       'availability_90', 'availability_365'],
      dtype='object')

In [57]:
#output
listing.to_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/s3/listing.csv",sep=',',na_rep="NA",header=True,index=False)

# Create host table

In [71]:
#--------host
host=pd.read_csv("/Users/tgcn/Downloads/host (1).csv")

In [72]:
host.columns

Index(['host_id', 'host_name', 'host_since', 'host_location',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [73]:
# excluse comma
host["host_location"] = host["host_location"].str.replace(",","",regex=True)
host["host_verifications"] = host["host_verifications"].str.replace(",","",regex=True)

In [74]:
# NA in host_respnse_time
host["host_response_time"].value_counts()

within an hour         9918
within a few hours     3076
within a day           1818
a few days or more      508
Other Cities              2
City of Los Angeles       1
Name: host_response_time, dtype: int64

In [75]:
host["host_response_time"]=host["host_response_time"].fillna("unknown")

In [76]:
host["host_response_time"][(host["host_response_time"]=="Other Cities")|(host["host_response_time"]=="City of Los Angeles")] = "unknown"

/var/folders/h5/kkrtkj0n7fqdxjxhkp9v4zl00000gn/T/ipykernel_74192/1762452558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  host["host_response_time"][(host["host_response_time"]=="Other Cities")|(host["host_response_time"]=="City of Los Angeles")] = "unknown"

In [77]:
#output
host.to_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/s3/host.csv",sep=',',na_rep="NA",header=True,index=False)

# Create review table

In [37]:
#-----reviews------
reviews=pd.read_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/Cali/reviews.csv")

In [38]:
reviews.head(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,45392,270172,2011-05-18,92047,Kristin,Olivia helped me with directions to arrive & l...
2,45392,377312,2011-07-16,323103,Jessie,Olivia was incredibly helpful and knowledgable...
3,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
4,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
5,45392,832642,2012-01-03,1451816,Peter,Loved my stay at Oliva's home. This is a reall...
6,45392,988123,2012-03-11,1185761,Arturo,Olivia and Alexey are kind people and your dog...
7,45392,1099414,2012-04-08,1012919,Ian,"fantastic experience, great room, private and ..."
8,45392,1197227,2012-04-29,261886,Julia,Our stay at Olivia and Alexexs Home was really...
9,45392,1608723,2012-07-02,2088988,Aaron,Olivia and Alexey are super nice people. They...

In [18]:
reviews.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [39]:
#excluse comma in reviews
reviews["comments"] = reviews["comments"].str.replace("!"," ",regex=True)
reviews["comments"] = reviews["comments"].str.replace(","," ",regex=True)
reviews["comments"] = reviews["comments"].str.replace("<br/>"," ",regex=True)
reviews["comments"] = reviews["comments"].str.replace("."," ",regex=True)

In [6]:
# drop 'Unnamed: 0'
#reviews = reviews.drop(['Unnamed: 0'], axis=1)

In [59]:
reviews.head(100)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036.0,8/15/2011,927861,Edwin,The host canceled my reservation the day befor...
1,45392,270172.0,5/18/2011,92047,Kristin,Olivia helped me with directions to arrive & l...
2,45392,377312.0,7/16/2011,323103,Jessie,Olivia was incredibly helpful and knowledgable...
3,109,74506539.0,5/15/2016,22509885,Jenn,Me and two friends stayed for four and a half ...
4,2708,13994902.0,6/9/2014,10905424,Kuberan,i had a wonderful stay. Everything from start ...
...,...,...,...,...,...,...
95,5728,3489571.0,2/6/2013,4830401,Rachel,Loved it! Super close to the airport. The room...
96,5728,3536870.0,2/13/2013,1006155,Mejai Kai,Great stay
97,5728,3584992.0,2/19/2013,4842651,Mike,"I enjoyed the experience, very peaceful and cr..."
98,45392,366537363.0,1/2/2019,108748474,Jayme,Awesme
99,45392,402802986.0,1/19/2019,108748474,Jayme,Very friendly and helpful! I recommend this t...

In [60]:
#output
reviews.to_csv("/Users/tgcn/Official_Things/Emory/Manage big data/FINAL PROJECT/review_new.csv",header=True,index=False)